<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/calendar"
        android:label="@string/app_name"
        android:roundIcon="@drawable/calendar"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:theme="@style/Theme.MyApplicationNoActionBar"
            android:name=".week2.volleyimplementation.VolleyActivity"
            android:exported="false" />
        <activity
            android:name=".week2.superheroapp.SuperHeroDetails"
            android:exported="false"
            android:theme="@style/Theme.MyApplicationNoActionBar" />
        <activity
            android:name=".week2.superheroapp.SuperheroActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplicationNoActionBar"></activity>
        <activity
            android:name=".week2.learningRetroFit.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".week2.learning_navigation_controller.NaviagtionActivity"
            android:exported="false" />
        <activity
            android:name=".week2.learingviewpager.ViewPager2Activiti"
            android:exported="false" />
        <activity
            android:name=".week2.learingfragments.FragmentActiviti"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".week1.SharedPreferenceDemo"
            android:exported="false" />
    </application>

</manifest>